<%= render 'shared/navbar' %>

<div class="wrapper-page wrapper-project-caseplatform">
  <%= link_to "/projects", class:"back-to-projects", style: "color: #102030;" do %>
    <i class="fas fa-chevron-left"></i> Back to projects
  <% end %>

  <div class="container-page container-project-caseplatform">

    <%= link_to "http://caseplatformbrazil.herokuapp.com/", target: "_blank" do %>
      <div class="caseplatform-title-div text-center">
        <p class="caseplatform-title">
          Caseplatform
        </p>
        <p class="caseplatform-title-description">
          Practice case interviews professionally
        </p>
      </div>
    <% end %>

    <hr>

    <h1 class="caseplatform-section-title">
      Management consulting is becoming a dream carreer for many young professionals
    </h1>
    <p class="caseplatform-section-text">
      Very high salaries, explosive career growth, work that generates huge impacts in the biggest companies on the country, working with the best of the best, exposure to C-levels and many other reasons put management consulting as a top choice of many.
    </p>
    <p class="caseplatform-section-text">
      However, the selection process is also known to be one of the toughest. Candidates have to go through many case interviews, which simulate real-world business problems faced by clients that the candidate will have to solve. Case interviews need to be practiced and this is usually done in pairs with other candidates on the process. With this platform, candidates can prepare for the day of the interview by simulating interviews with me.
    </p>
    <p class="caseplatform-section-text">
      Candidates schedjule interview simulations, in which they will have 10 minutes to discuss theoretical topics, then receive a 40 minute full-length case based on a vast library of high quality cases (taken from real interviews) and then receive a 10 minute detailed feedback of their performance. Afterwards, they receive a scorecard with their results with overall score, case answers, listed feedbacks, scores for over 30 skills (the same skills in which candidates will be evaluated by the biggest companies) and a detailed written feedback. Users can track their progress on each skill to see where they are shining, and which sticking points they need to give more attention and practice time.
    </p>
    <%= link_to "http://caseplatformbrazil.herokuapp.com/", target: "_blank" do %>
      <div class="caseplatform-gotosite text-center">
        <%= image_tag "projects-caseplatform-1", class:"centered-image" %>
        <p class="caseplatform-gotosite-text">Go to website!</p>
      </div>
    <% end %>

    <h1 class="caseplatform-section-title">
      Step 1: Purchase interview credits and schedule an interview
    </h1>
    <p class="caseplatform-section-text">
      Candidates can purchase interview credits and receive a higher discount on more credits. Then, they schedule their sessions, providing an explanation of what they want to cover on that session, and finally, pick a date and time.
    </p>

    <div class="video text-center">
      <video src="/videos/projects-caseplatform-video-1.mp4" autoplay loop muted class="centered-image"></video>
    </div>

    <h1 class="caseplatform-section-title">
      Step 2: Do the interview
    </h1>
    <p class="caseplatform-section-text">
      During the interview, I, as the admin, will fill the form containing all information on the session evaluation.
    </p>

    <div class="video text-center">
      <video src="/videos/projects-caseplatform-video-2.mp4" autoplay loop muted class="centered-image"></video>
    </div>

    <h1 class="caseplatform-section-title">
      Step 3: Receive interview results
    </h1>
    <p class="caseplatform-section-text">
      After the interview, the candidate will receive their results for the session. After rating the session, they can see a complete report with the overall score, access to the case files, ratings for all skills, listed feedbacks and a full written feedback.
    </p>

    <div class="video text-center">
      <video src="/videos/projects-caseplatform-video-3.mp4" autoplay loop muted class="centered-image"></video>
    </div>

    <h1 class="caseplatform-section-title">
      Step 4: Track your progress
    </h1>
    <p class="caseplatform-section-text">
      As the user goes through more sessions, they can track their performance, skill by skill, over time, to have a better idea of what they should focus.
    </p>

    <div class="video text-center">
      <video src="/videos/projects-caseplatform-video-4.mp4" autoplay loop muted class="centered-image"></video>
    </div>

  <%= link_to "/projects", class:"back-to-projects", style: "color: #102030;" do %>
    <i class="fas fa-chevron-left" style="margin-top: 60px;"></i> Back to projects
  <% end %>
</div>
