<%= render 'shared/navbar' %>

<!-- ------------------------------------------------ -->
<!-- --------------Warning------------------------------>
<!-- ------------------------------------------------ -->
<!-- This page has a desktop and mobile version -->
<!-- If you make any changes, make sure to change both -->
<!-- The mobile version is in this same file, but below -->
<!-- ------------------------------------------------ -->

<div class="page-desktop">

<% project_no = 0 %>

<div class="wrapper-page wrapper-projects">
  <div class="row row-projects">

    <div class="col-xs-12 col-md-6  col-projects">
      <%= link_to "/projects/caseplatform", class:"project-link-#{project_no} projects-link" do %>
        <div class="project-card-<%="#{project_no}"%>  projects-card" style="background-color: #102030">
          <div class="projects-image">
            <div class="project-logo-caseplatform-div text-center">
              <h1 class="project-logo-caseplatform-text text-center">
                Caseplatform
              </h1>
            </div>
          </div>
          <div class="projects-section">
            <p class="projects-section-text" style="color: rgba(220,220,220,1)">Rails + Vue professional app</p>
          </div>
          <div class="projects-description">
            <div class="project-description-items">
              <h1 class="project-title" style="color: rgba(240,240,240,1)">
                Caseplatform
              </h1>
              <h2 class="project-tags" style="color: rgba(240,240,240,1)">
                Monetized project &nbsp; Rails + Vue &nbsp; Mobile Friendly
              </h2>
              <p class="project-description" style="color: rgba(240,240,240,1)">
                Caseplatform is the platform I use to give coaching sessions for case interview practice; case interviews are tests given by Management Consulting firms (Mckinsey, Bain&Company, Boston Consulting Group) in the toughest selection processes out there which I happen to have a great expertise at.
              </p>
              <p class="project-cta" style="color: rgba(240,240,240,1)">
                Click to see details
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% project_no += 1 %>

    <div class="col-xs-12 col-md-6  col-projects">
      <%= link_to "http://psdblbr.herokuapp.com/home", target:"_blank", class:"project-link-#{project_no} projects-link" do %>
        <div class="project-card-<%="#{project_no}"%> projects-card" style="background-color: #000">
          <div class="projects-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url(https://iconsplace.com/wp-content/uploads/_icons/ffffff/256/png/pen-icon-18-256.png); background-size: 30%;">
          </div>
          <div class="projects-section">
            <p class="projects-section-text" style="color: rgba(220,220,220,1)">Rails + Vue Blog</p>
          </div>
          <div class="projects-description">
            <div class="project-description-items">
              <h1 class="project-title" style="color: rgba(240,240,240,1)">
                Single-page blog
              </h1>
              <h2 class="project-tags" style="color: rgba(240,240,240,1)">
                Vue.js &nbsp; Single page app &nbsp; Mobile Friendly
              </h2>
              <p class="project-description" style="color: rgba(240,240,240,1)">
                This project is an engine for single page application blogs. This design is very elegant and allows better navigation through the posts and provides a better user experience. The blog tracks all user sessions and visits to posts, how much time they spent reading each post and how much they liked it. You can access admin panel by accessing /admin-login route and entering password "admin"; Writing posts is easy through the built-in WYSIWYG editor.
              </p>
              <p class="project-cta" style="color: rgba(240,240,240,1)">
                Click to open test application
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% project_no += 1 %>

    <div class="col-xs-12 col-md-6 col-projects">
      <%= link_to "https://www.hrdengenharia.com.br/home", target:"_blank", class:"project-link-#{project_no} projects-link" do %>
        <div class="project-card-<%="#{project_no}"%>  projects-card" style="background-color: rgba(41,88,142,1)">
          <div class="projects-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url(<%= asset_path("logo-white-background.png") %>);">
          </div>
          <div class="projects-section">
            <p class="projects-section-text" style="color: rgba(220,220,220,1)">Freelance Institutional Website</p>
          </div>
          <div class="projects-description">
            <div class="project-description-items">
              <h1 class="project-title" style="color: rgba(240,240,240,1)">
                HRD Engenharia Institutional Website
              </h1>
              <h2 class="project-tags" style="color: rgba(240,240,240,1)">
                Freelance &nbsp; Institutional &nbsp; Mobile-friendly &nbsp; Ruby on Rails
              </h2>
              <p class="project-description" style="color: rgba(240,240,240,1)">
                Professional website designed from scratch for the company HRD Engenharia, which offers advanced structural analysis of assets for industrial companies. The website was given a modern look with a slideshow on the homepage, clean Javascript animations, has a contact form and maps integration.
              </p>
              <p class="project-cta">
                Click to visit website
              </p>
              <p class="projects-mobile-friendly element-mobile">100% mobile friendly!</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% project_no += 1 %>

    <div class="col-xs-12 col-md-6  col-projects">
      <%= link_to "/projects/everything", class:"project-link-#{project_no} projects-link" do %>
        <div class="project-card-<%="#{project_no}"%>  projects-card" style="background-color: rgba(245,221,255,1)">
          <div class="projects-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url(<%= asset_path("projects-everything.png") %>); background-size: 40%;">
          </div>
          <div class="projects-section">
            <p class="projects-section-text">Rails movie recommendation app</p>
          </div>
          <div class="projects-description">
            <div class="project-description-items">
              <h1 class="project-title">
                Everything.me
              </h1>
              <h2 class="project-tags">
                Group project &nbsp; Recommendation systems &nbsp; Desktop only &nbsp; Ruby on Rails
              </h2>
              <p class="project-description">
                Everything is the final project I developed with 3 other students in Le Wagon. Everything gathers info about your tastes in a fun way, and gives movie recommendations based on your similarity with your friends and other users.
              </p>
              <p class="project-cta">
                Click to see details
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% project_no += 1 %>

    <div class="col-xs-12 col-md-6  col-projects">
      <%= link_to "/projects/spacewagons", class:"project-link-#{project_no} projects-link" do %>
        <div class="project-card-<%="#{project_no}"%> projects-card" style="background-color: rgba(80,80,80,1)">
          <div class="projects-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url(<%= asset_path("projects-spacewagons.png") %>); background-size: 60%;">
          </div>
          <div class="projects-section text-center">
            <p class="projects-section-text" style="color: rgba(220,220,220,1)">Rails marketplace game</p>
          </div>
          <div class="projects-description">
            <div class="project-description-items">
              <h1 class="project-title" style="color: rgba(240,240,240,1)">
                Space Wagons
              </h1>
              <h2 class="project-tags" style="color: rgba(240,240,240,1)">
                Group project &nbsp; Multiplayer game &nbsp; Desktop only &nbsp; Ruby on Rails
              </h2>
              <p class="project-description" style="color: rgba(240,240,240,1)">
                Le Wagon asked us to build something with a marketplace. My group went a little further. We built a game in which you start with a spaceship and can choose parts for the spaceship. Then, you make expeditions to look for better parts and you can trade parts in the galactic marketplace. At the end of each day, a race takes plays to find the best pilot of the galaxy. All of that was developed in 5 days!
              </p>
              <p class="project-cta">
                Click to see details
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% project_no += 1 %>

    <div class="col-xs-12 col-md-6  col-projects">
      <%= link_to "/projects/burgershop", class:"project-link-#{project_no} projects-link" do %>
        <div class="project-card-<%="#{project_no}"%>  projects-card" style="background-color: #FFE3E3">
          <div class="projects-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url(<%= asset_path("projects-burgershop.png") %>); background-size: 50%;">
          </div>
          <div class="projects-section">
            <p class="projects-section-text">Rails online store</p>
          </div>
          <div class="projects-description">
            <div class="project-description-items">
              <h1 class="project-title">
                Burger Shop
              </h1>
              <h2 class="project-tags">
                Practice project &nbsp; Online shop &nbsp; Mobile friendly &nbsp; Ruby on Rails
              </h2>
              <p class="project-description">
                I created Burger Shop because I wanted to practice Rails and MVC architecture on a higher level. In Burger Shop, you can shop for burgers and beverages from many options. All burgers are 100% customizable. You can manage addresses for the delivery and track the progress of your delivery.
              </p>
              <p class="project-cta">
                Click to see details
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% project_no += 1 %>

    <div class="col-xs-12 col-md-6  col-projects">
      <%= link_to "download/projects-footballneuralnetworks-felipe.pdf", class:"project-link-#{project_no} projects-link" do %>
        <div class="project-card-<%="#{project_no}"%>  projects-card" style="background-color: #42e2f4">
          <div class="projects-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url(http://jhnet.co.uk/projects/figures/neural_network/neural_network.png); background-size: 70%;">
          </div>
          <div class="projects-section">
            <p class="projects-section-text">Neural networks applied to football</p>
          </div>
          <div class="projects-description">
            <div class="project-description-items">
              <h1 class="project-title">
                Senior project: Neural networks applied to Football
              </h1>
              <h2 class="project-tags">
                Academic publication &nbsp; Neural Networks &nbsp; Matlab
              </h2>
              <p class="project-description">
                I always thought that end of course research projects have boring titles and for many it is boring work you have to do just to graduate. I wanted to spice it up a little bit. I tried to study how well neural networks can predict soccer matches and devise a bot which is able to profit in sports bets. In the end, the bots made a small profit on average, but were unreliable. However, the process and results brought a lot of cool insights, analysis and graphs.
              </p>
              <p class="project-cta">
                Click to download article (pt-br)
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% project_no += 1 %>

    <div class="col-xs-12 col-md-6  col-projects">
      <%= link_to "/projects/blackjack", class:"project-link-#{project_no} projects-link" do %>
        <div class="project-card-<%="#{project_no}"%>  projects-card" style="background-color: rgb(39, 206, 74)">
          <div class="projects-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url(<%= asset_path("projects-blackjack-spd.png") %>); background-size: 40%;">
          </div>
          <div class="projects-section">
            <p class="projects-section-text">Blackjack game statistical analysis</p>
          </div>
          <div class="projects-description">
            <div class="project-description-items">
              <h1 class="project-title">
                Blackjack analysis
              </h1>
              <h2 class="project-tags">
                Curiosity project &nbsp; Statistical analysis &nbsp; C
              </h2>
              <p class="project-description">
                I always found the dynamics and mathematics behind the games interesting. Blackjack caught my attention because it is the fairest game that can be played on a casino, and the only game in which a player can be skilled enough to actually beat the house. Back when I was 14, I wrote these codes in C to make a statistic analysis of the game and built a full report that has been downloaded over 500 times!
              </p>
              <p class="project-cta">
                Click to see details
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

</div>


<!-- ----------------------------------------------------- -->
<!-- ----------------------------------------------------- -->
<!-- ----------------------mobile------------------------- -->
<!-- ----------------------------------------------------- -->
<!-- ----------------------------------------------------- -->

<div class="page-mobile">

<% project_no = 0 %>

<p class="projects-mobile-info element-mobile">
  Click once to see project details, then click again to open project
</p>

<div class="wrapper-page wrapper-projects">
  <div class="row row-projects">

    <div class="col-xs-12 col-md-6  col-projects">
      <%= link_to "/projects/caseplatform", class:"project-link-#{project_no} projects-link" do %>
        <div class="project-card-<%="#{project_no}"%>  projects-card" style="background-color: #102030">
          <div class="projects-image">
            <div class="project-logo-caseplatform-div text-center">
              <h1 class="project-logo-caseplatform-text text-center">
                Caseplatform
              </h1>
            </div>
          </div>
          <div class="projects-section">
            <p class="projects-section-text" style="color: rgba(220,220,220,1)">Rails + Vue professional app</p>
          </div>
          <div class="projects-description">
            <div class="project-description-items">
              <h1 class="project-title" style="color: rgba(240,240,240,1)">
                Caseplatform
              </h1>
              <h2 class="project-tags" style="color: rgba(240,240,240,1)">
                Monetized project &nbsp; Rails + Vue &nbsp; Mobile Friendly
              </h2>
              <p class="project-description" style="color: rgba(240,240,240,1)">
                Caseplatform is the platform I use to give coaching sessions for case interview practice; case interviews are tests given by Management Consulting firms (Mckinsey, Bain&Company, Boston Consulting Group) in the toughest selection processes out there which I happen to have a great expertise at.
              </p>
              <p class="project-cta" style="color: rgba(240,240,240,1)">
                Click to see details
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% project_no += 1 %>

    <div class="col-xs-12 col-md-6  col-projects">
      <%= link_to "http://psdblbr.herokuapp.com/home", target:"_blank", class:"project-link-#{project_no} projects-link" do %>
        <div class="project-card-<%="#{project_no}"%> projects-card" style="background-color: #000">
          <div class="projects-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url(https://iconsplace.com/wp-content/uploads/_icons/ffffff/256/png/pen-icon-18-256.png); background-size: 30%;">
          </div>
          <div class="projects-section">
            <p class="projects-section-text" style="color: rgba(220,220,220,1)">Rails + Vue Blog</p>
          </div>
          <div class="projects-description">
            <div class="project-description-items">
              <h1 class="project-title" style="color: rgba(240,240,240,1)">
                Single-page blog
              </h1>
              <h2 class="project-tags" style="color: rgba(240,240,240,1)">
                Vue.js &nbsp; Single page app &nbsp; Mobile Friendly
              </h2>
              <p class="project-description" style="color: rgba(240,240,240,1)">
                This project is an engine for single page application blogs. This design is very elegant and allows better navigation through the posts and provides a better user experience. The blog tracks all user sessions and visits to posts, how much time they spent reading each post and how much they liked it. You can access admin panel by accessing /admin-login route and entering password "admin"; Writing posts is easy through the built-in WYSIWYG editor.
              </p>
              <p class="project-cta" style="color: rgba(240,240,240,1)">
                Click to open test application
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% project_no += 1 %>
    <div class="col-xs-12 col-md-6 col-projects">
      <div class="project-card-<%="#{project_no}"%>  projects-card" style="background-color: rgba(41,88,142,1)">
        <div class="projects-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url(<%= asset_path("logo-white-background.png") %>);">
        </div>
        <div class="projects-section">
          <p class="projects-section-text" style="color: rgba(220,220,220,1)">Freelance Institutional Website</p>
        </div>
        <div class="projects-description">
          <div class="project-description-items">
            <h1 class="project-title" style="color: rgba(240,240,240,1)">
              HRD Engenharia Institutional Website
            </h1>
            <h2 class="project-tags" style="color: rgba(240,240,240,1)">
              Freelance &nbsp; Institutional &nbsp; Mobile-friendly &nbsp; Ruby on Rails
            </h2>
            <p class="project-description" style="color: rgba(240,240,240,1)">
              Professional website designed from scratch for the company HRD Engenharia, which offers advanced structural analysis of assets for industrial companies. The website was given a modern look with a slideshow on the homepage, clean Javascript animations, has a contact form and maps integration.
            </p>
            <p class="project-cta">
              Click to visit website
            </p>
            <p class="projects-mobile-friendly element-mobile">100% mobile friendly!</p>
          </div>
        </div>
      </div>
    </div>

    <% project_no += 1 %>

    <div class="col-xs-12 col-md-6  col-projects">
      <div class="project-card-<%="#{project_no}"%>  projects-card" style="background-color: rgba(245,221,255,1)">
        <div class="projects-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url(<%= asset_path("projects-everything.png") %>); background-size: 40%;">
        </div>
        <div class="projects-section">
          <p class="projects-section-text">Rails movie recommendation app</p>
        </div>
        <div class="projects-description">
          <div class="project-description-items">
            <h1 class="project-title">
              Everything.me
            </h1>
            <h2 class="project-tags">
              Group project &nbsp; Recommendation systems &nbsp; Desktop only &nbsp; Ruby on Rails
            </h2>
            <p class="project-description">
              Everything is the final project I developed with 3 other students in Le Wagon. Everything gathers info about your tastes in a fun way, and gives movie recommendations based on your similarity with your friends and other users.
            </p>
            <p class="project-cta">
              Click to see details
            </p>
          </div>
        </div>
      </div>
    </div>

    <% project_no += 1 %>

    <div class="col-xs-12 col-md-6  col-projects">
      <div class="project-card-<%="#{project_no}"%> projects-card" style="background-color: rgba(80,80,80,1)">
        <div class="projects-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url(<%= asset_path("projects-spacewagons.png") %>); background-size: 60%;">
        </div>
        <div class="projects-section text-center">
          <p class="projects-section-text" style="color: rgba(220,220,220,1)">Rails marketplace game</p>
        </div>
        <div class="projects-description">
          <div class="project-description-items">
            <h1 class="project-title" style="color: rgba(240,240,240,1)">
              Space Wagons
            </h1>
            <h2 class="project-tags" style="color: rgba(240,240,240,1)">
              Group project &nbsp; Multiplayer game &nbsp; Desktop only &nbsp; Ruby on Rails
            </h2>
            <p class="project-description" style="color: rgba(240,240,240,1)">
              Le Wagon asked us to build something with a marketplace. My group went a little further. We built a game in which you start with a spaceship and can choose parts for the spaceship. Then, you make expeditions to look for better parts and you can trade parts in the galactic marketplace. At the end of each day, a race takes plays to find the best pilot of the galaxy. All of that was developed in 5 days!
            </p>
            <p class="project-cta">
              Click to see details
            </p>
          </div>
        </div>
      </div>
    </div>

    <% project_no += 1 %>

    <div class="col-xs-12 col-md-6  col-projects">
      <div class="project-card-<%="#{project_no}"%>  projects-card" style="background-color: #FF9696">
        <div class="projects-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url(<%= asset_path("projects-burgershop.png") %>); background-size: 50%;">
        </div>
        <div class="projects-section">
          <p class="projects-section-text">Rails online store</p>
        </div>
        <div class="projects-description">
          <div class="project-description-items">
            <h1 class="project-title">
              Burger Shop
            </h1>
            <h2 class="project-tags">
              Practice project &nbsp; Online shop &nbsp; Mobile friendly &nbsp; Ruby on Rails
            </h2>
            <p class="project-description">
              I created Burger Shop because I wanted to practice Rails and MVC architecture on a high level. In Burger Shop, you can shop for burgers and beverages from many options. All burgers are 100% customizable. You can manage addresses for the delivery and track the progress of your delivery.
            </p>
            <p class="project-cta">
              Click to see details
            </p>
          </div>
        </div>
      </div>
    </div>

    <% project_no += 1 %>

    <div class="col-xs-12 col-md-6  col-projects">
      <div class="project-card-<%="#{project_no}"%>  projects-card" style="background-color: rgb(253, 255, 178)">
        <div class="projects-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url(http://jhnet.co.uk/projects/figures/neural_network/neural_network.png); background-size: 70%;">
        </div>
        <div class="projects-section">
          <p class="projects-section-text">Neural networks applied to football</p>
        </div>
        <div class="projects-description">
          <div class="project-description-items">
            <h1 class="project-title">
              Senior project: Neural networks applied to Football
            </h1>
            <h2 class="project-tags">
              Academic publication &nbsp; Neural Networks &nbsp; Matlab
            </h2>
            <p class="project-description">
              I always thought that end of course research projects have boring titles and for many it is boring work you have to do just to graduate. I wanted to spice it up a little bit. I tried to study how well neural networks can predict soccer matches and devise a bot which is able to profit in sports bets. In the end, the bots made a small profit on average, but were unreliable. However, the process and results brought a lot of cool insights, analysis and graphs.
            </p>
            <p class="project-cta">
              Click to download article (pt-br)
            </p>
          </div>
        </div>
      </div>
    </div>

    <% project_no += 1 %>

    <div class="col-xs-12 col-md-6  col-projects">
      <div class="project-card-<%="#{project_no}"%>  projects-card" style="background-color: rgb(39, 206, 74)">
        <div class="projects-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url(<%= asset_path("projects-blackjack-spd.png") %>); background-size: 40%;">
        </div>
        <div class="projects-section">
          <p class="projects-section-text">Blackjack game statistical analysis</p>
        </div>
        <div class="projects-description">
          <div class="project-description-items">
            <h1 class="project-title">
              Blackjack analysis
            </h1>
            <h2 class="project-tags">
              Curiosity project &nbsp; Statistical analysis &nbsp; C
            </h2>
            <p class="project-description">
              I always found the dynamics and mathematics behind the games interesting. Blackjack caught my attention because it is the fairest game that can be played on a casino, and the only game in which a player can be skilled enough to actually beat the house. Back when I was 14, I wrote these codes in C to make a statistic analysis of the game and built a full report that has been downloaded over 500 times!
            </p>
            <p class="project-cta">
              Click to see details
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>











