<%= render 'shared/navbar' %>

<div class="wrapper-page wrapper-resume">
  <div class="container-page container-resume">

    <h1 class="experiences-myname">Felipe Machado dos Santos</h1>
    <h2 class="experiences-myinfos">
      Full stack developer &nbsp;•&nbsp; 25 years old &nbsp;•&nbsp; Belo Horizonte - MG - Brazil
    </h2>

    <h1 class="page-subtitle">About me</h1>

    <p class="experiences-content exeriences-about-text">Passionate individual with a strong knowledge and experience in many startup-related areas such as full stack web development, business strategy, business intelligence and financial analysis. The traits I value the most on me are my teamwork skills, creativity, hunger for knowledge and innovation, analytical skills, desire to grow as a professional and person and a huge desire to make a difference.</p>
    <p class="experiences-content exeriences-about-text">After working in business analytics related areas and deciding not to follow, I took a turn and completed a 2-month intensive programming bootcamp in Nov/2018. I had a taste for programming since I was 12, but the bootcamp turned coding into a top-level skill and a passion. I've been working in many projects since and you can take a look at them in the Projects session. I am looking to enter on the vivid technology & startup world as a full stack developer, while also offering my expertise on business areas and well developed soft skills.  </p>

    <h1 class="page-subtitle">Education</h1>

    <p class="experiences-content experiences-education-title">Universidade Federal de Minas Gerais</p>
    <p class="experiences-content experiences-education-when">2012 - 2018</p>
    <p class="experiences-content experiences-education-description">Mechanical Engineering bachelor student</p>

    <p class="experiences-content experiences-education-title">University of New Hampshire</p>
    <p class="experiences-content experiences-education-when">Aug/2015 - May/2016</p>
    <p class="experiences-content experiences-education-description">Government sponsored international student in the US</p>

    <p class="experiences-content experiences-education-title">Colégio Santo Antônio</p>
    <p class="experiences-content experiences-education-when">2005 - 2011</p>
    <p class="experiences-content experiences-education-description">Top 6 High School in Brazil according to the official Ministry of Education ENEM Ranking as of 2011</p>

    <h1 class="page-subtitle">Experiences & skills</h1>
    <div class="middle">
      <div class="menu">
        <li class="item" id="programming">
          <p class="accordeon-group-0 accordeon-experience accordeon-group"><i class="fas fa-caret-down accordeon-dropdown-carets"></i>Programming</p>
          <div class="smenu">
            <div class="each-experience">
              <h1 class="experience-title">
                Le Wagon Coding Bootcamp
              </h1>
              <p class="experience-when">Sep/2018 - Nov/2018 </p>
              <p class="experience-description">
                Le Wagon's coding bootcamp is considered the best bootcamp in Europe, and I can see why. The program consists of 9-week intensive every-day immersion in fullstack development with daily challenges to learn technologies which are being employed by the top tech companies and startups on the market.
              </p>
              <p class="experience-description">
                During the these intensive 2 months, I was able to learn in-depth and in a practice oriented way the following technologies: HTML, CSS, Bootstrap, JavaScript ES2016, SQL, git, GitHub, Heroku and Ruby on Rails. I completed 500+ programming challenges and launched several web applications, and many can be seen on the projects tab.
              </p>
              <%= link_to "download/experiences-wagon-syllabus.pdf", target: "_blank", class: 'experiences-file-link', target: :_blank do  %>
                <i class="fa fa-file-download"></i>Download course syllabus
              <% end %> <br>
              <%= link_to "#", data: {toggle: "modal", target: "#modal-experiences-wagon"}, class:"trabalhe-conosco-btn-link" do %>
                <div class="btn experience-image-call"><i class="fas fa-camera"></i>See pictures</div>
              <% end %>

              <h1 class="page-subsubtitle">Programming skills</h1>
              <p class="experiences-content">HTML5, CSS3, SCSS, CSS Frameworks (Bootstrap & Tachyons), Javascript ES2016, Responsive Web Design, Object Orientation, MVC architecture, Ruby on Rails, Ruby gems (Authentication, Authorization, Geocoding, Searching, Payment, Mailing, Background Jobs, etc...), Test Driven Development, Machine Learning, Neural Networks, Clean code using Linters, APIs, Git Versioning Tools (Github, Gitlab), Relational databases (SQLite, PostgreSQL), Heroku</p>
              <h1 class="page-subsubtitle">Programming Languages</h1>
              <p class="experiences-content">Ruby on Rails, Javascript ES6, C, MATLAB</p>

              <h1 class="page-subsubtitle">Projects</h1>
              <%= link_to "/projects", class: 'experiences-file-link' do  %>
                <i class="fas fa-eye"></i>Take a look at my projects
              <% end %>
            </div>
          </div>
        </li>

        <li class="item" id="business">
          <p class="accordeon-group-1 accordeon-experience accordeon-group"><i class="fas fa-caret-down accordeon-dropdown-carets"></i>Business</p>
          <div class="smenu">
            <div class="each-experience">
              <h1 class="experience-title">
                Codon Biotecnologia
              </h1>
              <p class="experience-when">Sep/2017 - Jul/2018 </p>
              <p class="experience-description">
                Private company in the healthcare sector specialized in genetics. I had a position in which I was able to participate in projects in all core sectors of the company. The projects I developed in each area were:
              </p>
              <p class="experience-description">
                <span class="experiences-content-highlight">Strategy:</span> Pricing model considering costs, market and willingness to pay. Acquisition analysis and valuation to enter new market segment. New product development; <br>
                <span class="experiences-content-highlight">Business Intelligence:</span> P&L and Cash Flow models and monitoring from raw data. Designed sheets that receive simple inputs and generate all important visualizations for strategic decisions. PowerBI; <br>
                <span class="experiences-content-highlight">Operations:</span> Streamlined processes and implemented a laboratory management software to integrate and automate all areas; <br>
                <span class="experiences-content-highlight">Marketing & Sales:</span> Developed the comercial plan. Implemented Salesforce.
              </p>
            </div>

            <div class="each-experience">
              <h1 class="experience-title">
                Bain & Company XI Strategic Challenge
              </h1>
              <p class="experience-when">May/2017 - Jun/2017 </p>
              <p class="experience-results">Results: 1st place in Minas Gerais, 3rd place in Latin America</p>
              <p class="experience-description">
                The Bain&Company Strategic Challenge is the biggest student business case competition in the Latin America. Between 2,000 high level students starting the first phase, the team finished 3rd best in Latin America.
              </p>
              <p class="experience-description">
                The regional finals occured in Belo Horizonte, MG, and presented a case study involving developing a pricing model optimization, fleet composition & renewal strategy around the biggest car rental company in South America, Localiza. The Latin America finals occured in Sao Paulo, SP, and presented a case study involving valuation & acquisition, also regarding a real life analysis case when Localiza merged with Hertz.
              </p>
              <p class="experience-description">
                The presentations prepared by the team can be downloaded in the following links:
              </p>
              <%= link_to "download/experiences-files-desafiobain-1.pdf", target: "_blank", class: 'experiences-file-link', target: :_blank do  %>
                <i class="fa fa-file-download"></i>Presentation - Regional finals
              <% end %> <br>
              <%= link_to "download/experiences-files-desafiobain-2.pdf", target: "_blank", class: 'experiences-file-link', target: :_blank do  %>
                <i class="fa fa-file-download"></i>Presentation - Latin American finals
              <% end %>
            </div>

            <div class="each-experience">
              <h1 class="experience-title">
                Constellation Challenge
              </h1>
              <p class="experience-when">Mar/2017 - May/2017 </p>
              <p class="experience-results">Results: National finalists</p>
              <p class="experience-description">
                Constellation Challenge is a student challenge in which the students perform an industry analysis and develop a full DCF valuation model about a given company. The group performed the analysis for Grupo Fleury, the second biggest company providing medical diagnosis in Brazil. Over 230 groups started in the competition, and the group finished Top 10.
              </p>
              <p class="experience-description">
                Funny fact: the analysis was done before Fleury did a 2-1 split on shares. When the study was done, shares were R$42,00 and the group projected the true value to be R$56,20. Two months later, the shares went up to exactly R$56,00 and stabilized there for a while. The organizers revealed our analysis was an almost exact match with theirs!
              </p>
              <p class="experience-description">
                The industry analysis and investment thesis and model prepared by the team can be downloaded in the following links:
              </p>
              <%= link_to "download/experiences-files-constellation-1.pdf", target: "_blank", class: 'experiences-file-link', target: :_blank do  %>
                <i class="fa fa-file-download"></i>Healthcare Industry Analysis (pt-br)
              <% end %> <br>
              <%= link_to "download/experiences-files-constellation-2.pdf", target: "_blank", class: 'experiences-file-link', target: :_blank do  %>
                <i class="fa fa-file-download"></i>Fleury Investment Assessment (pt-br)
              <% end %> <br>
              <%= link_to "download/experiences-files-constellation-3.xlsx", target: "_blank", class: 'experiences-file-link', target: :_blank do  %>
                <i class="fa fa-file-download"></i>DCF Valuation Model (pt-br)
              <% end %>
            </div>

            <div class="each-experience">
              <h1 class="experience-title">
                BS2 Hackathon
              </h1>
              <p class="experience-when">Jul 2018 </p>
              <p class="experience-results">Results: 3rd place</p>
              <p class="experience-description">
                Hackathons are ultra intensive product development marathons in which teams have a short amount of time to develop a full product idea (problem, solution and details).
              </p>
              <p class="experience-description">
                BS2 is former bank "Bonsucesso" that went through a complete rebranding and repositioning as a digital bank. BS2 promoted the Hackhathon so that the participants could develop and showcase ideas for the new digital banking operations.
              </p>
              <p class="experience-description">
                My group developed the idea of bs2you, a peer-to-peer lending platform. The idea was very actual since positive legislation regarding that modality of lending was approved 2 months earlier. The group also explored the inclusion of minorities, after a sequence of interviews and surveys that showed how women and black people have a higher difficulty of borrowing money through traditional mechanisms.
              </p>
              <p class="experience-description">
                The group was awarded overall 3rd place and best pitch. We were very happy about it, because the 1st and 2nd places were already established startups with assembled teams, while my group arrived at the event without knowing eachother and had a very good chemistry.
              </p>
              <%= link_to "download/experiences-hackathon.pdf", target: "_blank", class: 'experiences-file-link', target: :_blank do  %>
                <i class="fa fa-file-download"></i>Pitch deck (pt-br)
              <% end %> <br>
              <%= link_to "#", data: {toggle: "modal", target: "#modal-experiences-hackathon"}, class:"trabalhe-conosco-btn-link" do %>
                <div class="btn experience-image-call"><i class="fas fa-camera"></i>See pictures</div>
              <% end %>
            </div>

            <h1 class="page-subsubtitle">Business, Finances & Marketing skills</h1>
            <p class="experiences-content">Profitability analysis, ROI analysis, Pricing, Market Entry and New Products, Sales Funnel, Costumer Lifetime Value, Porter's Competitive Forces, Breakeven, Value chain, P&L and Income Statement, Cash Flow Statement, Valuation using DCF and Multiples</p>

            <h1 class="page-subsubtitle">Business, Finances & Marketing softwares</h1>
            <p class="experiences-content">Microsoft Excel, Microsoft PowerPoint, PowerBI, Salesforce</p>
          </div>
        </li>

        <li class="item" id="academic">
          <p class="accordeon-group-2 accordeon-experience accordeon-group"><i class="fas fa-caret-down accordeon-dropdown-carets"></i>Academic</p>
          <div class="smenu">
            <div class="each-experience">
              <h1 class="experience-title">
                Uai sô! Fly!!!
              </h1>
              <p class="experience-when">Feb/2013 - Oct/2014 </p>
              <p class="experience-description">
                Uai sô! Fly!!! is the aeromodelling team of UFMG and one of the most prestigious in Brazil, many times national champions and 3 times World Champions
              </p>
              <p class="experience-description">
                In 2013, I participated in the junior section of the team. We designed and built a radio-controlled aircraft. Responsible for Fuselage, Engine and Landing Gear. Detailed report on the project draft and aircraft performance. Responsible for presenting the project on behalf of the team to the competition judges. The project finished 6th out of 75 teams on the 15th SAE BRASIL AERODESIGN 2013, being the best team in the whole competition to be composed only by junior members, in front of Senior teams from famous universities such as EESC, UFSCar and ITA. In 2014, I assisted the senior student group.
              </p>
              <p class="experience-description">
                This student group was a very comprehensive experience. It helped me develop team-work skills, task management, project management, engineering knowledge, hands-on building, detailed engineering report writting, programming and physics simulations, presentation skills, among others. Because of this, it is the most significant experience during my academic life and I love to recommend it to new students.
              </p>
              <%= link_to "#", data: {toggle: "modal", target: "#modal-experiences-aerodesign"}, class:"trabalhe-conosco-btn-link" do %>
                <div class="btn experience-image-call"><i class="fas fa-camera"></i>See pictures</div>
              <% end %>
            </div>

            <div class="each-experience">
              <h1 class="experience-title">
                Toy Design Workshop
              </h1>
              <p class="experience-when">Jun/2016 - Jul/2016 </p>
              <p class="experience-description">
                In the end of my exchange program, students are encouraged to do a summer internship in universities of the country. I was able to participate in the summer program of Purdue University, ranked the 8th best Mechanical Engineering program in the US.
              </p>
              <p class="experience-description">
                During the program, I helped develop a Summer Workshop program called "Toy Design". Gifted - high IQ - students from many countries (US, China, Mexico, Colombia, Greece, South Korea) came to participate in challenges we designed, to see how they plan build and test using the ideas of simple home-friendly approach for building robots, developed in the C Design Lab.
              </p>
              <p class="experience-description">
                Many other physics and engineering challenges were given, such as the famous spaghetti tower marshmallow challenge (which shows that kids are better builders than CEOs), NERF Gun assembly and mechanism designs. The program was very impactful: the kids responded questionnaires about their confidence in their creativity and interest for engineering areas, both at the beggining and end of the workshop. By the end, their overall interest increased over 40%, and even more among the female students, helping prove wrong archaic gender roles concepts.
              </p>
            </div>
          </div>
        </li>
      </div>
    </div>

    <h1 class="page-subtitle">Languages</h1>
    <div class="row row-languages">
      <div class="col-xs-12 col-md-4">
        <p class="experiences-content"><span class="experiences-language-name">Portuguese </span>&nbsp;<i class="fas fa-circle i-circle-fill"></i><i class="fas fa-circle i-circle-fill"></i><i class="fas fa-circle i-circle-fill"></i><i class="fas fa-circle i-circle-fill"></i><i class="fas fa-circle i-circle-fill"></i> </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <p class="experiences-content"><span class="experiences-language-name">English </span>&nbsp;<i class="fas fa-circle i-circle-fill"></i><i class="fas fa-circle i-circle-fill"></i><i class="fas fa-circle i-circle-fill"></i><i class="fas fa-circle i-circle-fill"></i><i class="fas fa-circle i-circle-fill"></i> </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <p class="experiences-content"><span class="experiences-language-name">Spanish </span> &nbsp; <i class="fas fa-circle i-circle-fill"></i><i class="fas fa-circle i-circle-fill"></i><i class="fas fa-circle i-circle-fill"></i><i class="far fa-circle i-circle-nofill"></i><i class="far fa-circle i-circle-nofill"></i> </p>
      </div>
    </div>

    <h1 class="page-subtitle">Test scores</h1>
    <p class="experiences-content"><span class="experiences-content-highlight">GMAT: </span> 710 (90% percentile between MBA aspiring students) - 2017 </p>
    <p class="experiences-content"><span class="experiences-content-highlight">TOEFL iBT: </span> 112 (96% percentile) - 2016 </p>


    <h1 class="page-subtitle">Online courses</h1>

    <p class="experiences-content experiences-course-title">Specialization in Content Marketing <span class="experiences-course-when">Rock Content - 2019 - 4h</span></p>

    <p class="experiences-content experiences-course-title">SEO 2019: Complete SEO Training + SEO for WordPress Websites <span class="experiences-course-when">Udemy - 2019 - 9.5h</span></p>

    <p class="experiences-content experiences-course-title">Build Responsive Real World Websites with CSS3 v2.0 <span class="experiences-course-when">Udemy - 2018 - 13h</span></p>

    <p class="experiences-content experiences-course-title">Fundamentals of Business Strategy <span class="experiences-course-when">Coursera - 2016 - 10h</span></p>

    <p class="experiences-content experiences-course-title">Advanced Business Strategy <span class="experiences-course-when">Coursera - 2016 - 13h</span></p>

    <p class="experiences-content experiences-course-title">Business Growth Strategy <span class="experiences-course-when">Coursera - 2016 - 12h</span></p>

    <p class="experiences-content experiences-course-title">Strategic
Planning and Execution <span class="experiences-course-when">Coursera - 2016 - 11h</span></p>

    <p class="experiences-content experiences-course-title">Business Strategy in Practice <span class="experiences-course-when">Coursera - 2016 - 10h</span></p>


    <h1 class="page-subtitle">Other</h1>
    <p class="experiences-content"><span class="experiences-content-highlight">Class president at Colégio Santo Antônio </span> &nbsp;&nbsp;&nbsp;2007, 2008, 2009, 2010, 2011 </p>
    <p class="experiences-content"><span class="experiences-content-highlight">Brazilian Mathematics Olympiad, final stage </span> &nbsp;&nbsp;&nbsp;2006, 2007, 2008 </p>


  <%= link_to "download/Felipe - Resume (EN).pdf", target: "_blank", class: 'resume-download-link', target: :_blank do  %>
    <i class="fa fa-file-download"></i>Download resume (en)
  <% end %>
  </div>
</div>


<% modal_count = 0 %>
<div class="modal fade" id="modal-experiences-wagon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-images" role="document">
    <div class="modal-content">
      <div class="modal-body pic-modal-body">
        <div class="experience-images">
          <div class="experience-image-<%= modal_count %>-0 experience-image">
            <%= image_tag "experiences-wagon-1.png"%>
            <p class="experience-caption">Students and teachers after the project presentation in the last day, known as Demo Day, at Google Campus.</p>
          </div>
          <div class="experience-image-<%= modal_count %>-1 experience-image">
            <%= image_tag "experiences-wagon-2.jpeg"%>
            <p class="experience-caption">My group presenting the movie recommendation app Everything.me, our final project </p>
          </div>
        </div>

        <a href="#sl" class="left-slide-<%= modal_count %> left carousel-control left-carousel-control" role="button" data-slide="prev">
          <span class=" glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a href="#sl" class="right-slide-<%= modal_count %> right carousel-control right-carousel-control" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<% modal_count += 1 %>

<div class="modal fade" id="modal-experiences-aerodesign" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-images" role="document">
    <div class="modal-content">
      <div class="modal-body pic-modal-body">
        <div class="experience-images">
          <div class="experience-image-<%= modal_count %>-0 experience-image">
            <%= image_tag "experiences-aerodesign-1.jpeg"%>
            <p class="experience-caption">A close up of "Monster", the aircraft we designed and built over the year</p>
          </div>
          <div class="experience-image-<%= modal_count %>-1 experience-image">
            <%= image_tag "experiences-aerodesign-2.png"%>
            <p class="experience-caption">Monster is about to take off for what would be its best flight and make it reach the 6th best between all teams, and the best aircraft projected by only junior students </p>
          </div>
        </div>

        <a href="#sl" class="left-slide-<%= modal_count %> left carousel-control left-carousel-control" role="button" data-slide="prev">
          <span class=" glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a href="#sl" class="right-slide-<%= modal_count %> right carousel-control right-carousel-control" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<% modal_count += 1 %>

<div class="modal fade" id="modal-experiences-hackathon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-images" role="document">
    <div class="modal-content">
      <div class="modal-body pic-modal-body">
        <div class="experience-images">
          <div class="experience-image-<%= modal_count %>-0 experience-image">
            <%= image_tag "experiences-hackathon-1.png"%>
            <p class="experience-caption">From left to right: Deyse, Gessé, Rafael, Jocelia and me. We met two days before presenting the 3rd best project!</p>
          </div>
        </div>

<!--         <a href="#sl" class="left-slide-<%= modal_count %> left carousel-control left-carousel-control" role="button" data-slide="prev">
          <span class=" glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a href="#sl" class="right-slide-<%= modal_count %> right carousel-control right-carousel-control" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a> -->
      </div>
    </div>
  </div>
</div>


